<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dvbn.mapper.BookingMapper">

    <resultMap id="BaseResultMap" type="com.dvbn.domain.Booking">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="residentialId" column="residential_id" jdbcType="BIGINT"/>
            <result property="checkInDate" column="check_in_date" jdbcType="DATE"/>
            <result property="checkOutDate" column="check_out_date" jdbcType="DATE"/>
            <result property="totalPrice" column="total_price" jdbcType="DECIMAL"/>
            <result property="guestCount" column="guest_count" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,residential_id,check_in_date,
        check_out_date,total_price,guest_count,
        create_time,update_time,create_user,
        update_user
    </sql>
</mapper>
