<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dvbn.mapper.ReportMapper">

    <resultMap id="BaseResultMap" type="com.dvbn.domain.Report">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="reportedUserId" column="reported_user_id" jdbcType="BIGINT"/>
            <result property="reportedResidentialId" column="reported_residential_id" jdbcType="BIGINT"/>
            <result property="reportType" column="report_type" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="BIGINT"/>
            <result property="updateUser" column="update_user" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,reported_user_id,reported_residential_id,
        report_type,description,status,
        create_time,update_time,create_user,
        update_user
    </sql>
</mapper>
